.Navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Navigation .NavItem {
  padding: 1rem 0;
}

.Navigation .NavItem i {
  display: inline-block;
  width: 2rem;
  text-align: center;
  margin-right: 1.5rem;
  color: var(--color-primary);
}
