.ExplorerToggler {
  position: fixed;
  height: 5rem;
  width: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--color-bg-medium);
  background: var(--color-bg-darker);
  transition: color .2s ease-out;
  color: var(--color-text-medium);
}

.ExplorerToggler i {
  transition: transform .2s ease-out,
              opacity .2s ease-out;
}

.ExplorerToggler:hover {
  cursor: pointer;
}


@media (min-width: 768px) {
  .ExplorerToggler {
    display: none !important;
  }
}
