:root {
  --color-primary: #1793d1;
  --color-primary-dark: #0a4562;

  --color-secondary: #bd93f9;
  --color-secondary-dark: #a267bd;

  --color-warning: #e7ca8a;
  --color-danger: #fa8490;
  --color-success: #a5db90;

  --color-text-light: #bcc7d8;
  --color-text-medium: #434953;
  --color-text-dark: #21252b;

  --color-bg-light: #434953;
  --color-bg-medium: #282c34;
  --color-bg-dark: #21252b;
  --color-bg-darker: #1f2327;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--color-text-light);
  background: var(--color-bg-medium);
  font-family: 'Maven Pro', sans-serif;
}
